{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="m-6 bg-gray-200 rounded-2xl h-[calc(100vh-8rem)] p-6 flex items-center justify-center">
    <div class="flex flex-col items-center">
        <div class="m-6">
            <h2 class="text-[100px] font-bold text-center">ByteBattles</h2>
            <h3 class="text-3xl font-semibold text-center">Code &#183; Battle &#183; Win</h3>
        </div>

        <h3 class="text-2xl font-semibold my-6" id="subtext">Challenge others in real-time algorithmic duels.</h3>

        <div class="m-10 space-x-6">
            <a href="{% url 'register' %}" class="text-lg font-semibold px-6 py-3 bg-brand-dark text-white rounded-xl hover:bg-brand-dhov transition">Get Started</a>
            <a href="{% url 'problems' %}" class="text-lg font-semibold px-6 py-3 bg-brand text-white rounded-xl hover:bg-brand-hov transition">View Problems</a>
        </div>
    </div>
</div>

<script>
    const phrases = [
        "Solve algorithmically challenging problems and improve your problem solving skills",
        "Battle one-on-one in real time and increase your rating",
        "Climb the leaderboard with each win",
        "Prove your coding skill in duels",
        "Join, code, conquer, and level up!",
        "Challenge others in real-time algorithmic duels."
    ];

    let index = 0;
    const subtextElement = document.getElementById("subtext");

    setInterval(() => {
    index = (index + 1) % phrases.length;
    subtextElement.textContent = phrases[index];
    }, 2000);
</script>


{% endblock %}