{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}
  <div class="flex justify-center">
    <div class="m-6 py-6 px-12 rounded-2xl bg-gray-200">
      <form action="{% url 'register' %}" method="post" class="mb-6 flex flex-col space-y-6 items-center">
        {% csrf_token %}
        <input name="username" type="text" placeholder="username" required class="px-6 py-3 bg-white rounded-xl box-border border-2 border-gray-400"/>
        <input name="email" type="email" placeholder="email" required class="px-6 py-3 bg-white rounded-xl box-border border-2 border-gray-400"/>
        <input name="password" type="password" placeholder="password" required class="px-6 py-3 bg-white rounded-xl box-border border-2 border-gray-400"/>
        <input name="confpassword" type="password" placeholder="confirm password" required class="px-6 py-3 bg-white rounded-xl box-border border-2 border-gray-400"/>
        <input type="submit" value="Register" class="text-lg font-semibold px-6 py-3 bg-brand text-white rounded-xl hover:bg-brand-hov transition"/>
        <p class="text-md text-gray-500 font-semibold">already registered?</p>
        <a href="{% url 'login' %}" class="text-lg font-semibold px-6 py-3 bg-brand-dark text-white rounded-xl hover:bg-brand-dhov transition">Login</a>
      </form>
    </div>
  </div>
{% endblock %}